$main-font:'Fira Sans Extra Condensed', sans-serif;
$btn-primary-color:#007A02;
$btn-secondary-color:#fff;
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#C71585;
    width: 85%;
    min-height: 100vh;
    margin: 0 auto;
    overflow-x: hidden;
}
.app-title{
    margin: .5em auto auto 0;
    font-family: $main-font, sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .21em;
    color:$btn-secondary-color;
}

//MediaQ
@media only screen and (max-width: 599px) and (orientation:portrait){
  body{
    width: 100%;
  }
  .app-title{
    font-size: 1.2em;
  }
  .fetch-btn{
    top:2%;
    right:50%;
    transform: translateX(50%);
    font-size: .8rem;
    border: 1px solid $btn-secondary-color;
  }
  .fetch-btn:hover{
    background-color: $btn-primary-color;
    color:$btn-secondary-color;
    border: 1px solid $btn-secondary-color;
  }
  .customers__list{
    margin-left: 5px;
  }
  .customers__list-item{
    flex-basis: 45%;
  }
  .list-item__img{
    width: 70%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1023px)and (orientation:portrait){
  .app-title{
    padding: 5px;
    font-size: 1.6rem;
  }
  .fetch-btn{
    top:2%;
    right:50%;
    transform: translateX(50%);
    font-size: .8rem;
    border: 1px solid $btn-secondary-color;
  }
  .fetch-btn:hover{
    background-color: $btn-primary-color;
    color:$btn-secondary-color;
  }
  .customers__list-item{
  flex-basis:30.5%;
  }
  .list-item__img{
    width: 50%;
  }
}
@media only screen and (min-width: 1024px)and (orientation:portrait){
  .app-title{
    padding: 5px;
    font-size: 2.7rem;
  }
  .fetch-btn{
    top:2%;
    right:1%;
    font-size: .8rem;
    border: 1px solid $btn-primary-color;
  }
  .fetch-btn:hover{
    background-color: $btn-primary-color;
    color:$btn-secondary-color;
  }
  .customers{
    &__list-item{
      flex-basis: 22%;
    }  
  }
}
@media only screen and (max-width: 640px) and (orientation:landscape){
  body{
    width: 100%;
  }
  .customers__list{
    margin-left: 5px;
  }
  .customers__list-item{
    flex-basis: 30.5%;
  }
  .fetch-btn{
    top:6%;
    right:50%;
    transform: translateX(50%);
    font-size: .8rem;
    border: 1px solid $btn-secondary-color;
  }
  .fetch-btn:hover{
    background-color: $btn-primary-color;
    color:$btn-secondary-color;
    border: 1px solid $btn-secondary-color;
  }
  .list-item__img{
    width: 70%;
  }
}
@media only screen and (min-width: 641px) and (orientation:landscape){
  .customers__list-item{
    flex-basis: 30.5%;
  }
  .fetch-btn{
    top:6%;
    right:50%;
    transform: translateX(50%);
  }
  .fetch-btn:hover{
    background-color: $btn-primary-color;
    color:$btn-secondary-color;
    border: 1px solid $btn-secondary-color;
  }
  .customers__list{
    margin-left: 5px;
  }
  .list-item__img{
    width: 60%;
  }
}
@media only screen and (min-width: 1024px) and (max-width:1199px)and(orientation:landscape){
  .customers__list-item{
    flex-basis: 21.5%;
  }
  .fetch-btn{
    top:4%;
  }
  .list-item__img{
    width: 70%;
  }
}

@media only screen and (min-width: 1200px){
  body{
    width: 100%;
  }
  .customers__list{
    width: 100%;
  }
   .customers__list-item{
     flex-basis: 15.5%;
   }
   .fetch-btn{
     top:2%;
     font-size: .95rem;
   }
   .list-item__img{
     width: 60%;
   }
}
@media (min-width:800px) and (min-width:900px){
  .fetch-btn{
    top:4%;
  }
}
@media (min-width:1399px){
  .customers__list{
    margin:0 50px 0 50px;
  }
  .customers__list-item{
    flex-basis: 10.5%;
  }
  .fetch-btn{
    top:2%;
    right: 3.5%;
  }
  .fetch-btn:hover{
    background-color: $btn-secondary-color;
    color:$btn-primary-color;
    border: 1px solid $btn-primary-color;
  }
}
